html{
  background: url("Images/Background1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
}
main{
	background-color: rgba(255,255,255,0.5);
	background-size: 40%;
  border-width: 10px;
  position: center;
  margin-left: 20%;
  margin-right: 20%;
}

section .name{
  text-align: center;
}
section .location{
  text-align: center;
}
section .picture{
  
}
section .likeButton{
  position: absolute;
  bottom = 5px;
  right = 5px;
}
section .dislikeButton{
  position: absolute;
  bottom = 5px;
  left = 5px;
}

.imgbox {
  background-color:white;
  border-radius:25px;
  height:200px;
  position:relative;
  width:300px;
}

.rotate-left {
	transform: rotate(30deg) scale(0.8);
	transition: 1s;
	cursor: e-resize;
	opacity: 0;
}

.rotate-right {
	transform: rotate(-30deg) scale(0.8);
	transition: 1s;
	cursor: w-resize;
	opacity: 0;
}
